<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="WebShareAPIを検証するためのWebコンテンツ。iOS12.2以降で使えます。")
    title sample-web-share-api
    link(rel="stylesheet", href="./style.scss")
  body
    script(async, src="./main.ts")
    include ./includes/top.pug
    .my-main
      #app.my-content
    footer.footer
      .content.has-text-centered
        div
          a(href='https://qiita.com/katsuya_U/items/bbcdc132cdbe28a9d764')
            | Qiita
          a(href='https://github.com/katsuyaU/sample-web-share-api')
            | GitHub
        div by katsuya_U

